/**
 * @Author: Edmund Lam <edl>
 * @Date:   21:45:28, 24-Nov-2018
 * @Filename: game.css
 * @Last modified by:   edl
 * @Last modified time: 21:52:02, 24-Nov-2018
 */
html {
	height: 100%;
  background: #000000;
}

body {
  height: 100%;
  margin: 0;
}
